.explore-content {
  box-sizing: content-box;
  padding: 40px 20px 0;
  width: calc(100% - 40px);
  padding-top: 40px;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.explore-div {
  /* position: relative; */
  top: 100px;
  background: #fafafa;
}

.explore {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-left: 30px;
  margin-bottom: 16px;
  text-align: left;
  text-transform: capitalize;
}

.carousel-header {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  margin-top: 90px;
}

.carousel-header > h5 {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: left;
  text-transform: capitalize;
}

.explore-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  position: relative;
}

.test-div2 {
  width: 271px;
  height: 271px;
  background-color: #ffffff;
  list-style: none;
  overflow: hidden;
  margin-bottom: 30px;
  object-fit: cover;
}

.test-div2 > img {
  width: 271px;
  object-fit: cover;
  height: 271px;
}

/* carousel */

/* .carousel-item {
  align-content: center;
  margin-left: 30px;
}

.carousel-item.active {
  align-content: center;
  margin-right: 30px;
}
.carousel-item > ul {
  display: flex;
  padding-left: 0px;
}

.carousel-inner {
  display: flex;
} */

.card-info {
  list-style-type: none;
  height: 198px;
  width: 176px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  /* margin-right: 25px; */
  display: flex;
  flex-direction: column;
  align-content: center;
}

.carousel-img {
  height: 56px;
  width: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.d-block {
  text-align: center;
  width: 176px;
  box-sizing: border-box;
}

.inner-caro-div {
  padding: 16px;
  align-items: center;
}

.caro-card {
  display: flex;
  flex-direction: column;

}

.carousel-username > a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
  text-transform: lowercase;
  font-size: 14px;
}

.popular {
  color: #999;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-top: 4px;
}
.btn-div {
  margin: auto;
  align-items: center;
}

.carousel-btn {
  width: 0;
  /* align-content: center; */
  /* margin: auto; */
  display: flex;
  justify-content: center;
}

.edit-profile-btn2 {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  color: #262626;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 5px 9px;
  font-weight: 600;
  /* margin-left: 20px; */
  font-size: 14px;
  outline: 0 !important;
}

.inactive {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
}

/* slick carousel */

button.slick-arrow.slick-next {
  background: gray;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  /* position: relative; */
  right: 10px;
  z-index: 1;
  opacity: 0.8;
}

button.slick-arrow.slick-prev {
  background: gray;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  /* position: relative; */
  left: 15px;
  z-index: 1;
  opacity: 0.8;
}

.slick-slide img {
  display: block;
  margin: 0 auto;
}

.slick-initialized .slick-slide {
  display: block;
  margin-right: 20px;
}

.slick-slider .slick-list {
  height: 200px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 880px;
  position: relative;
  left: 30px;
}

/* .carousel-btn {
  background-color: #3897f0;
  border: 1px solid #3897f0;
  border-radius: 4px;
  color: #fff;
  position: relative;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  width: auto;
  outline: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 20px auto 25px;
} */

/* .carousel-control-prev {
  height: 40px;
  width: 40px;
  height: 198px;
}

.carousel-control-prev-icon {
  position: relative;
  left: 35px;
  width: 40px;
  height: 40px;
}

.carousel-control-prev-icon > img {
  width: 35px;
  transform: rotate(-90deg);
  border-radius: 50%;
}

.carousel-control-next {
  height: 40px;
  width: 40px;
  height: 198px;
}

.carousel-control-next-icon {
  align-content: center;
  width: 40px;
  height: 40px;
  position: relative;
}

.carousel-control-next-icon > img {
  width: 35px;
  transform: rotate(90deg);
  border-radius: 50%;
} */
